<%- include['partials/header.ejs'] %>
        <h1>Single Article Page</h1>
        <h2>Title: <%= article1.title %></h2>
        <p>Content: <%= article1.content %></p>

<%- include['partials/footer.ejs'] %>